.black-raspberry {
	position: absolute;
	top: 734px;
	left: 0;
	z-index: 2;
	&__wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	}
	&__inner { 
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 103px 111px 107px 111px;
	box-shadow: 0px 14px 36px 0px rgba(204, 204, 204, 0.25);
	background: rgba(255, 255, 255, 1);
	border-radius: 30px 0px 0px 30px;
	}
	&__title {
	color: rgba(39, 76, 91, 1);
	font-family: Roboto;
	font-size: 70px;
	font-weight: 250;
	}
	&__subtitle{
	color: rgba(82, 92, 96, 1);
	font-family: Open Sans;
	font-size: 18px;
	font-weight: 400;
	}
	&__box {
	display: flex;
	gap: 13px;
	padding: 106px 111px 107px 111px;
	border-radius: 0px 30px 30px 0px;
	background: rgba(250, 250, 250, 1);
	}
	&__list {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 16px;
	}
	&__list-footer{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 17px;
	}
	&__item-title > pre {
	color: rgba(39, 76, 91, 1);
	font-family: Roboto;
	font-size: 25px;
	font-weight: 500;
	}
	&__item {
	color: rgba(82, 92, 96, 1);
	font-family: Open Sans;
	font-size: 18px;
	font-weight: 400;
	}
}

