.box {
	min-height: 957px;
	display: flex;
	justify-content: center;
	background: rgba(241, 248, 244, 1);
	&__flex {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 42px;
	}
	&__img {
		position: relative;
		top: 0;
		left: 0;
	}
	&__btn {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 33px 83px 34px 83px;
		border-radius: 20px;
		background: rgba(255, 255, 255, 1);
	}
	&__linc {
		color: rgba(39, 76, 91, 1);
		font-family: Roboto;
		font-size: 25px;
		font-weight: 500;
	}
}
