.categories {
	min-height: 1343px;
  display: flex;
  flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 200px;
		&__box {
			margin-top: 176px;
			text-align: center;
		}
		&__box-title {
      color: rgba(126, 182, 147, 1);
      font-family: Yellowtail;
      font-size: 36px;
      font-weight: 400;
		}
		&__box-text {
      color: rgba(39, 76, 91, 1);
      font-family: Roboto;
      font-size: 50px;
      font-weight: 250;
		}
}
.product-card {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	margin: 40px 0 122px 0;
		&__wrap {
			width: 100%;
			max-width: 335px;
      min-height: 483px;
      background: rgba(249, 248, 248, 1);
			border-radius: 30px;
			padding: 29px 26px 17px 30px;
			border: .5px solid black;
		}
		&__btn {
			border-radius: 8px;
			background: rgba(39, 76, 91, 1);
			padding: 5px 12px 6px 12px;
			color: rgba(255, 255, 255, 1);
			font-family: Open Sans;
			font-size: 15px;
			font-weight: 600;
			text-align: center;
		}
		&__img {
			display: flex;
			justify-content: center;
		}
		&__img > img{
			width: 335px;
			height: 324px;
		}
		&__naming {
			color: rgba(39, 76, 91, 1);
			font-family: Roboto;
			font-size: 20px;
			font-weight: 250;
		}
		&__line {
			display: flex;
			width: 274.99px;
			height: 0;
			border: 1px solid rgba(222, 221, 221, 1);
			margin-top: 13px;
		}
		&__row{
			display: flex;
			margin-top: 13px;
			align-items: center;
			gap: 81px;
		}
		&__inner{
			display: flex;
			align-items: center;
			gap: 8px;
		}
		&__pricing {
			color: rgba(184, 184, 184, 1);
			font-family: Open Sans;
			font-size: 15px;
			font-weight: 600;
		}
		&__pricing-2 {
			color: rgba(39, 76, 91, 1);
			font-family: Open Sans;
			font-size: 18px;
			font-weight: 700;
		}
}

.rating {
  margin: 0 0;
  padding: 0;
  border: none;
  background: #f9f8f8;
  &__group {
    all: revert;
    position: relative;
    width: 5em;
    height: 1em;
    background-image: url(/icon/off.svg);
    background-size: 1em auto;
    background-repeat: repeat-x;
  }
  &__star {
    all: revert;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 2em;
    background-size: 1em auto;
    background-repeat: repeat-x;
    font-size: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  &__star:focus {
    outline: none;
  }
  &__star:checked,
  &__star:hover {
    background-image: url(/icon/on.svg);
  }
  &__star:hover~&__star {
    background-image: url(/icon/off.svg);
  }
  &__star:nth-of-type(1) {
    z-index: 5;
    width: 1em;
  }
  &__star:nth-of-type(2) {
    z-index: 4;
    width: 2em;
  }
  &__star:nth-of-type(3) {
    z-index: 3;
    width: 3em;
  }
  &__star:nth-of-type(4) {
    z-index: 2;
    width: 4em;
  }
  &__star:nth-of-type(5) {
    z-index: 1;
    width: 5em;
  }
}