.choice {
	display: flex;
	align-items: center;
	min-height: 1429px;
	background-color: rgba(249, 248, 248, 1);
	&__box {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 51px;
	}
	&__wrap {
		display: flex;
		flex-direction: column;
		gap: 36px;
	}
	&__title {
		color: rgba(126, 182, 147, 1);
		font-family: Yellowtail;
		font-size: 36px;
		font-weight: 400;
	}
	&__subtitle {
		color: rgba(39, 76, 91, 1);
		font-family: Roboto;
		font-size: 50px;
		font-weight: 250;
		margin-top: 6px;
	}
	&__text {
		color: rgba(82, 92, 96, 1);
		font-family: Open Sans;
		font-size: 18px;
		font-weight: 400;
		margin-top: 25px;
	}
	&__row {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}
	&__inner {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
	&__link-box {
		display: flex;
		align-items: center;
		gap: 7px;
		width: 334px;
		height: 81px;
		border-radius: 49px;
		background: rgba(236, 236, 236, 1);
		padding: 29px 91px 29px 27px;
	}
	&__ring {
		width: 19px;
		height: 19px;
		border-radius: 50px;
		border: solid 4px rgba(126, 182, 147, 1);
	}
	&__link {
		color: rgba(39, 76, 91, 1);
		font-family: Roboto;
		font-size: 20px;
		font-weight: 500;
		line-height: 100%;
	}
	&__inner-text {
		color: rgba(82, 92, 96, 1);
		font-family: Open Sans;
		font-size: 18px;
		font-weight: 400;
		padding-left: 60px;
	}
	&__flex{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 30px;
		margin-top: 91px;
	}
	&__flex-card {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 15px;
		padding: 50px 37px 19px 37px;
		border-radius: 30px;
		background: rgba(255, 255, 255, 1);
	}
	&__flex-image {
		width: 95px;
		height: 95px;
		border-radius: 18px;
		padding: 25px 25px 25px 25px;
		background: rgba(249, 248, 248, 1);
	}
	&__flex-img {
		width: 44px;
		height: 44px;
	}
	&__flex-title {
		color: rgba(39, 76, 91, 1);
		font-family: Roboto;
		font-size: 25px;
		font-weight: 250;
		text-align: center;
	}
	&__flex-text {
		color: rgba(82, 92, 96, 1);
		font-family: Open Sans;
		font-size: 18px;
		font-weight: 400;
		line-height: 25px;
		text-align: center;
	}
}



