.description {
	padding: 90px 0 140px 0;
	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 27px;
		}
	&__inner {
		display: flex;
		gap: 20px;
	}
	&__link-product{
		border-radius: 16px;
		background: rgba(39, 76, 91, 1);
		padding: 23px 57px 23px 57px;
		font-family: Open Sans;
		font-size: 25px;
		font-weight: 700;
		color: rgba(255, 255, 255, 1);
	}
	&__link-info {
		padding: 23px 61px 23px 61px;
		border-radius: 16px;
		background: rgba(239, 246, 241, 1);
		color: rgba(39, 76, 91, 1);
		font-family: Open Sans;
		font-size: 25px;
		font-weight: 700;
	}
	&__text {
		color: rgba(82, 92, 96, 1);
		font-family: Open Sans;
		font-size: 18px;
		font-weight: 400;
		line-height: 25px;
		letter-spacing: 0%;
		text-align: center;
		}

}
 











