.eco {
  display: flex;
  align-items: center;
  min-height: 931px;
  background: url(/icon/01/25.webp) left  no-repeat;
  &__flex{
    display: flex;
    justify-content: flex-end;
  }
  &__wrap{
    display: flex;
    flex-wrap: wrap;
    padding: 78px 72px 77px 89px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 1);
    max-width: 789px;
    width: 100%;
    border: solid 1px black;
  }
  &__inner{
  }
  &__title{
    color: rgba(126, 182, 147, 1);
    font-family: Yellowtail;
    font-size: 36px;
    font-weight: 400;
  }
  &__tsubtitle{
    color: rgba(39, 76, 91, 1);
    font-family: Roboto;
    font-size: 50px;
    font-weight: 250;
    line-height: 100%;
    margin-top: 8px;
  }
  &__col{
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 35px;
  }
  // &__box{
  // }
  &__heading{
    color: rgba(39, 76, 91, 1);
    font-family: Roboto;
    font-size: 25px;
    font-weight: 500;
    line-height: 100%;
  }
  &__text{
    color: rgba(82, 92, 96, 1);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }
}

