.form {
  margin-top: 80px;

}
.some-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 108px;
	row-gap: 97px;
}

.input-wrapper{
  display: flex;
  flex-direction: column;
  
}
.input-wrapper label {
	color: rgba(39, 76, 91, 1);
	font-family: Roboto;
	font-size: 18px;
	font-weight: 250;
}
input {

	min-width: 569px;
	width: 100%;
	height: 80px;
	border: 1px solid rgba(126, 182, 147, 1);
	border-radius: 16px;
	margin-top: 26px;
	padding-left: 23px;
	}

textarea{
	width: 100%;
	min-width: 1184px;
	height: 247px;
	border: 1px solid rgba(126, 182, 147, 1);
	border-radius: 16px;
	margin-top: 26px;
}