.health {
  padding: 114px 0 72px 0;
	&__box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 83px;
	}
	// &__image {
	// }
	// &__img{
	// } 
	&__wrap {
		display: flex;
		flex-direction: column;
		gap: 9px;
	}
	&__title {
		color: rgba(39, 76, 91, 1);
		font-family: Roboto;
		font-size: 40px;
		font-weight: 250;
	}
	&__text {
	color: rgba(82, 92, 96, 1);
	font-family: Open Sans;
	font-size: 18px;
	font-weight: 400;
	margin-top: 18px;
	}
	&__inner {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 21px;
	margin-top: 26px;
	}
	
	&__form {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 21px;
	}
	&__quantity {
		color: rgba(39, 76, 91, 1);
		font-family: Roboto;
		font-size: 20px;
		font-weight: 700;
	}
	&__input{
		width: 134px;
		height: 80px;
		box-sizing: border-box;
		border: 2px solid rgba(39, 76, 91, 1);
		border-radius: 16px;
		background: rgba(255, 255, 255, 1);
		padding: 28px 61px;
		color: rgba(39, 76, 91, 1);
		font-family: Roboto;
		font-size: 20px;
		font-weight: 700;
	}
}
.rating {
		&__background {
			background: rgba(255, 255, 255, 1);
	
		}
}
