.header {
	display: flex;
	justify-content: center;
	height: 204px;
	padding: 69px 162px;
	gap: 130px;
	&__inner {
		display: flex;
		align-items: center;
		gap: 150px;
	}
	&__logo {
		display: flex;
		align-items: center;
		gap: 8px;
	}
	&__item {
		display: flex;
		min-width: 564px;
		width: 100%;
		justify-content: space-between;
	}
	&__link {
		// color: $color-primary;
		font-size: 20px;
		font-weight: 700;
		line-height: 100%;
	}
	&__box {
		display: flex;
		gap: 24px;
	}
	&__search {
		position: relative;
		top: 0;
		left: 0;
	}
	&__input {
		width: 376px;
		height: 66px;
		border-radius: 36px;
		border: solid 1px rgba(212, 212, 212, 1);
		padding: 0 80px 0 30px;
	}
	&__circle {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 5px;
		right: 6px;
		width: 56px;
		height: 56px;
		border-radius: 50%;
		cursor: pointer;
		background-color: rgba(126, 182, 147, 1);
	}
	&__btn {
		text-align: center;
		width: 21px;
		height: 21px;
	}
	&__cart {
		width: 159px;
		height: 66px;
	}
	&__holder {
		position: relative;
		top: 0;
		left: 0;
	}
	&__amount {
		width: 159px;
		height: 66px;
		border-radius: 36px;
		border: 1px solid rgba(212, 212, 212, 1);
		border-radius: 33px;
		padding: 21px 23px 24px 74px;
	}
	&__basket {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 5px;
		left: 6px;
		width: 56px;
		height: 56px;
		border-radius: 50%;
		cursor: pointer;
		background: rgba(39, 76, 91, 1);
	}
	&__bt {
		text-align: center;
		width: 21px;
		height: 21px;
	}
}

