.information {
  margin-top: 150px;
		&__wrapper {
      display: flex;
      flex-direction: column;
      gap: 100px;
		}
		&__header {
      display: flex;
      gap: 139px;
		}
		&__header-title {
    color: rgba(39, 76, 91, 1);
    font-family: Roboto;
    font-size: 40px;
    font-weight: 250;
		}
		&__inner {
      display: flex;
      flex-direction: column;
      gap: 45px;
		}
		&__header-text {
		}
		&__box {
      display: flex;
      gap: 193px;
		}
		&__box-title {
    color: rgba(39, 76, 91, 1);
    font-family: Roboto;
    font-size: 40px;
    font-weight: 250;
		}
		&__row {
      display: flex;
      flex-direction: column;
      gap: 11px;
		}
		&__box-text {
		}
		&__box-subtitle {
    color: rgba(39, 76, 91, 1);
    font-family: Roboto;
    font-size: 30px;
    font-weight: 250;
		}
		&__footer {
      display: flex;
      gap: 322px;
		}
		&__footer-title {
    color: rgba(39, 76, 91, 1);
    font-family: Roboto;
    font-size: 40px;
    font-weight: 250;
		}
		&__footer-text {
		}
}

