.initial {
	height: 435px;
  margin-top: 99px;
	&__wrapper {
	display: flex;
	justify-content: center;
	}
	&__inner{
	display: flex;
	align-items: center;
	gap: 30px;
	padding: 26px 42px;
	border-radius: 30px;
	box-shadow: 0px 39px 37px 0px rgba(196, 196, 196, 0.25);
	background: rgba(255, 255, 255, 1);
	}
	// &__image {
	// }
	// &__img {
	// }
	&__box{
		display: flex;
		align-items: center;
		gap: 15px;
	}
	&__title {
	color: rgba(39, 76, 91, 1);
	font-family: Roboto;
	font-size: 40px;
	font-weight: 800;
	}
	&__subtitle {
	color: rgba(82, 92, 96, 1);
	font-family: Open Sans;
	font-size: 18px;
	font-weight: 400;
	}
}
