
.location {
  &__wrap {
  display: flex;
	justify-content: flex-end;
	align-items: center;
  position: relative;
  background: url(/icon/12/05.webp) center/cover no-repeat;
	width: 100%;
  height: 758px;
  border-radius: 30px;
	margin-top: 98px;
	padding-right: 130px;
  }
  &__inner {
    display: flex;
    flex-direction: column;
		gap: 19px;
		border-radius: 30px;
		padding: 46px 53px 46px 53px;
		background: rgba(255, 255, 255, 1);
  }
  // &__box {
  // }
  &__title {
    color: rgba(126, 182, 147, 1);
    font-family: Yellowtail;
    font-size: 36px;
    font-weight: 400;
  }
  &__subtitle {
		color: rgba(39, 76, 91, 1);
		font-family: Roboto;
		font-size: 50px;
		font-weight: 800;
		margin-top: 10px;
  }
  &__text {
		color: rgba(82, 92, 96, 1);
		font-family: Open Sans;
		font-size: 18px;
		font-weight: 400;
  }
  &__holder {
		display: flex;
		flex-direction: column;
		gap: 22px;
  }
  &__col {
    display: flex;
		gap: 10px;
  }
  // &__image {
  // }
  // &__img {
  // }
  &__position > a{
    color: rgba(82, 92, 96, 1);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: undefined;
  }
}

