.natural {
  display: flex;
  justify-content: center;
  align-items: center;
	flex-wrap: wrap;
  min-height: 711px;
	&__wrap{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 36px;
	}
	&__box {
		display: flex;
		flex-direction: column;
		background: url(/icon/01/06.webp) center/cover no-repeat;
		width: 682px;
		height: 367px;
		padding: 109px 349px 110px 55px;
	}
	&__holder {
		display: flex;
		flex-direction: column;
		padding: 109px 349px 110px 55px;
		background: url(/icon/01/07.webp) center/cover no-repeat;
		width: 682px;
		height: 367px;
	}
	&__title {
		color: rgba(126, 182, 147, 1);
		font-family: Yellowtail;
		font-size: 36px;
		font-weight: 400;
		line-height: 100%;
		letter-spacing: 0%;
		text-align: left;
	}
	&__text {
		color: rgba(39, 76, 91, 1);
		font-family: Roboto;
		font-size: 40px;
		font-weight: 250;
		line-height: 100%;
		letter-spacing: 0%;
		text-align: left;
		margin-top: 5px;
	}
	
}

