.offer {
	background: rgba(39, 76, 91, 1);
	padding: 200px 0;
  min-height: 1050px;
	&__wrap {
		display: flex;
		align-items: center;
		gap: 648px;
	}
	// 	&__inner {
	// }
	&__title {
		color: rgba(126, 182, 147, 1);
		font-family: Yellowtail;
		font-size: 36px;
		font-weight: 400;
		line-height: 100%;
	}
	&__subtitle{
		color: rgba(255, 255, 255, 1);
		font-family: Roboto;
		font-size: 50px;
		font-weight: 250;
	}
	
	}
