.organic-food {
	display: flex;
	position: absolute;
	top: 730px;
	left: 0;
	z-index: 2;
	width: 100%;
	&__wrap {
	display: flex;
	flex-direction: column;
	gap: 20px;
	border-radius: 30px;
	box-shadow: 0px 14px 36px 0px rgba(204, 204, 204, 0.25);
	background: rgba(255, 255, 255, 1);
	padding: 76px 403px 76px 82px;
	}
	&__header {
	display: flex;
	gap: 30px;
	}
	&__period {
	color: rgba(39, 76, 91, 1);
	font-family: Roboto;
	font-size: 18px;
	font-weight: 250;
	}
	&__row {
		display: flex;
		gap: 13px;
	}
	// &__image {
	// }
	// &__img {
	// }
	&__card {
	color: rgba(39, 76, 91, 1);
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	}
	&__header-title {
	color: rgba(39, 76, 91, 1);
	font-family: Roboto;
	font-size: 70px;
	font-weight: 250;
	}
	&__header-text {
	color: rgba(82, 92, 96, 1);
	font-family: Open Sans;
	font-size: 18px;
	font-weight: 400;
	}
}
