.password {
	height: 565px;
	margin-top: 73px;
	&__wrapper {
		display: flex;
		justify-content: center;
	}
	&__inner {
		padding: 35px 31px;
		border-radius: 30px;
		box-shadow: 0px 39px 37px 0px rgba(196, 196, 196, 0.25);
		background: rgba(255, 255, 255, 1);
		display: flex;
		align-items: center;
		gap: 32px;
	}
	// &__image {
	// }
	// &__img {
	// }
	&__box {
		display: flex;
		flex-direction: column;
		gap: 26px;
	}
}

.some-form {
		&__pas {
			padding: 0;
		}
}

// .some-form {
// }
// .input-wrapper {
// }
