.related-products {
		&__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
		}
		&__title {
    color: rgba(39, 76, 91, 1);
    font-family: Roboto;
    font-size: 50px;
    font-weight: 800;
		}

}
