.vitamin {
  margin-top: 297px;
	padding: 0 232px;
  &__wraper {
  }
  &__text {
    color: rgba(82, 92, 96, 1);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
		margin-top: 24px;
  }
  &__inner {
		margin-top: 22px;
  }
  &__title {
		color: rgba(39, 76, 91, 1);
		font-family: Roboto;
		font-size: 50px;
		font-weight: 250;
		
  }
  &__list {
		display: flex;
		flex-direction: column;
		gap: 21px;
		margin: 30px 0 0 20px;
	}
		
	&__item-marker{
		color: rgba(82, 92, 96, 1);
		font-family: Open Sans;
		font-size: 18px;
		font-weight: 400;
		list-style-type: disc;
  }
	
  &__item {
		color: rgba(82, 92, 96, 1);
		font-family: Open Sans;
		font-size: 18px;
		font-weight: 400;
		list-style-type: decimal;
  }
  &__box { 
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		gap: 10;
		padding: 69px 59px 69px 59px;
		border-radius: 30px;
		background: rgba(241, 237, 234, 1);
		margin: 50px 0;
  }
  &__slogan {
		color: rgba(39, 76, 91, 1);
		font-family: Open Sans;
		font-size: 20px;
		font-weight: 700;
		text-align: center;
  }
  &__holder {
  }
  &__heading {
		color: rgba(39, 76, 91, 1);
		font-family: Roboto;
		font-size: 35px;
		font-weight: 250;
  }
}

